.product-card {
  @apply relative cursor-pointer p-2 transition-shadow rounded;
}

.product-card:hover {
  @apply shadow-md;
}

.product-card:hover .product-card-image {
  filter: brightness(0.9);
}

.product-card-image {
  @apply object-cover rounded !h-[250px] !relative overflow-hidden transition-all;
}

.product-card-title {
  @apply text-lg font-semibold mt-3;
}

.product-card-description {
  @apply text-slate-400 mb-3 text-[14px] w-full;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card-badge {
  @apply p-3 flex items-center justify-center bg-secondary-main/30 rounded mt-3 cursor-default;
}
