.app-footer {
  @apply mt-auto;
}

.app-footer-content {
  @apply flex justify-between items-center py-5;
}

.app-footer-bottom {
  @apply border-t-2 border-slate-100 py-5;
}

.app-footer-links {
  @apply flex gap-5;
}

.app-footer-link {
  @apply hover:text-primary-main transition-colors relative;
}

.app-footer-link::after {
  @apply bg-primary-main w-0 h-[2px] absolute hover:w-full transition-all;

  content: "";
  left: 0;
  bottom: -2px;
}
