.header {
  @apply py-5 border-b-2 flex justify-between items-center relative;
}

.header-title {
  @apply text-xl uppercase font-serif font-medium w-[340px];
}

.header-callback-container {
  @apply flex flex-col items-end gap-1 w-[200px];
}

.header-callback-container > * {
  @apply text-sm;
}

.header-callback-link {
  @apply cursor-pointer hover:opacity-80 transition-colors;
}

.header-link {
  @apply transition-colors text-primary-main relative;
}

.header-link--active::after {
  @apply bg-primary-main w-full h-[2px] absolute;

  content: "";
  left: 0;
  bottom: -2px;
}

.header-left-content {
  @apply flex items-center gap-5;
}

.header-icon-button {
  @apply p-3 hover:bg-slate-100 rounded transition-colors;
}

.header-avatar {
  @apply hover:bg-slate-200 transition-colors cursor-pointer;
}
